<div class="card shadow text-center mb-5">
    <div class="card-header bg-primary text-light">
        <h4>ADD TODO</h4>
    </div>


<form [formGroup]="FormOne">


    

    <div class="container">
        <div class="row">
            <div class="col">

                <div>
                    <input type="text" name="description" formControlName="description" class="form-control ms-5 me-5" placeholder="Write your daily task here....">
                  
                    <!-- Display validation error message for required -->
                    <div *ngIf="FormOne.get('description')?.errors?.['required'] && FormOne.get('description')?.touched"
                         class="text-danger">
                      Description is required.
                    </div>
                  
                   
                  </div>
                  
            </div>
            <div class="col-2">
                <div>
                    <button (click)="FormOne.valid && postData()" class="btn btn-primary">Add Task </button>
                </div>
            


            </div>

            <div class="col-1 "><button (click)="back()" class="btn btn-secondary ">Back</button></div>
        </div>
    </div>
    
     



