<!-- <form [formGroup]="FormOne" class="custom-container">
    <div class="custom-content">
        <input type="text" id="description" name="description" formControlName="description" class="custom-input">
    </div>

    <div class="custom-footer">
        <button type="button" (click)="update()" class="btn btn-success me-2">Update</button>
        <button type="button" (click)="back()" class="btn btn-secondary">Back</button>
    </div>
</form> -->

<form [formGroup]="FormOne" class="custom-container" style="margin-top: 300px; margin-left: 410px;">
    <div class="custom-content">
        <input type="text" id="description" name="description" formControlName="description" class="custom-input">
    </div>

    <div class="custom-footer">
        <button type="button" (click)="update()" class="btn btn-success me-2">Update</button>
        <button type="button" (click)="back()" class="btn btn-secondary">Back</button>
    </div>
</form>